<%= form_for(@cardapio) do |f| %>
  <% if @cardapio.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cardapio.errors.count, "error") %> prohibited this cardapio from being saved:</h2>

      <ul>
      <% @cardapio.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :data %><br />
    <%= f.date_select :data %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br />
    <%= f.text_field :tipo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
