<h1>Listing cardapios</h1>

<table>
  <tr>
    <th>Data</th>
    <th>Tipo</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cardapios.each do |cardapio| %>
  <tr>
    <td><%= cardapio.data %></td>
    <td><%= cardapio.tipo %></td>
    <td><%= link_to 'Show', cardapio %></td>
    <td><%= link_to 'Edit', edit_cardapio_path(cardapio) %></td>
    <td><%= link_to 'Destroy', cardapio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cardapio', new_cardapio_path %>
